In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('Titanic-Dataset.csv', index_col='PassengerId') # Прочитали файл csv
# df = df.set_index('PassengerId') # Переопределили строку индексации данных на свою
df

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Name      891 non-null    object
 3   Sex       891 non-null    object
 4   Age       714 non-null    float64
 5   SibSp     891 non-null    int64
 6   Parch     891 non-null    int64
 7   Ticket    891 non-null    object
 8   Fare      891 non-null    float64
 9   Cabin     204 non-null    object
 10  Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 83.5+ KB

In [ ]:
df.isnull().sum().sum() # Количество пустых ячеек во всей таблице

866

In [ ]:
df['Age'] = df['Age'].fillna(df.mean(axis=1)) # Замена пустоты в колонке Age средним значением
df

<ipython-input-7-47e392654d9b>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df['Age'] = df['Age'].fillna(df.mean(axis=1)) # Замена пустоты в колонке Age средним значением

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.00,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.00,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.00,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.00,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.00,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
887,0,2,"Montvila, Rev. Juozas",male,27.00,0,0,211536,13.0000,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.00,0,0,112053,30.0000,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,5.89,1,2,W./C. 6607,23.4500,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,26.00,0,0,111369,30.0000,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.00,0,0,370376,7.7500,NaN,Q

In [ ]:
df = df.fillna(method='ffill') # Для остальных колонок заполнили пустоты предыдущим значением
df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,C85,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,C123,S

In [ ]:
df = df.fillna(method='bfill') # Для остальных колонок заполнили пустоты следующим значением
df1 = df
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Name      891 non-null    object
 3   Sex       891 non-null    object
 4   Age       891 non-null    float64
 5   SibSp     891 non-null    int64
 6   Parch     891 non-null    int64
 7   Ticket    891 non-null    object
 8   Fare      891 non-null    float64
 9   Cabin     891 non-null    object
 10  Embarked  891 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 83.5+ KB

In [ ]:
uniques = pd.unique(df.values.ravel()) # Уникальные значения всей таблицы
len(uniques) # Кол-во уникальных значений

2119

In [ ]:
df.describe() # Статистика по всем столбцам кол-во строк,  среднее значение, стандартные отклонения значений в кадре данных, минимальное

         Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  891.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   24.824224    0.523008    0.381594   32.204208
std      0.486592    0.836071   16.530957    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.200000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   11.000000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   24.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   35.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [ ]:
# Получим максимальные значения в каждом столбце
maximums = df.max()
maximums

Survived                              1
Pclass                                3
Name        van Melkebeke, Mr. Philemon
Sex                                male
Age                                80.0
SibSp                                 8
Parch                                 6
Ticket                        WE/P 5735
Fare                           512.3292
Cabin                                 T
Embarked                              S
dtype: object

In [ ]:
df['Age'].max() #Максимум в столбце Age

80.0

In [ ]:
# Получим минимальные значения в каждом столбце
minimums = df.min()
minimums

Survived                      0
Pclass                        1
Name        Abbing, Mr. Anthony
Sex                      female
Age                         0.2
SibSp                         0
Parch                         0
Ticket                   110152
Fare                        0.0
Cabin                       A10
Embarked                      C
dtype: object

In [ ]:
df['Age'].min() # Минимум в столбце Age

0.2

In [ ]:
# Конвертируем колонку с возрастом в тип Int
df1['Age'] = df1['Age'].astype(int)
df1['Age'].head()

PassengerId
1    22
2    38
3    26
4    35
5    35
Name: Age, dtype: int64

In [ ]:
# Разбиваем возраст на интервалы в новой колонке по 10 лет(до 90 лет)
df1['Age Group'] = pd.cut(df1['Age'], bins=range(0, 91, 10))
# df1['Age Group']
df1.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age Group
PassengerId,,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,C85,S,"(20, 30]"
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C,"(30, 40]"
3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,C85,S,"(20, 30]"
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S,"(30, 40]"
5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,C123,S,"(30, 40]"

In [ ]:
df1['Survived'].value_counts(dropna=False)  #Кол-во погибших/выживших, dropna=False это не сбрасывать незаполненные значения

0    549
1    342
Name: Survived, dtype: int64

In [ ]:
# # Выживаемость по Годам (Age)
survived_died_counts = df1.groupby(['Age', 'Survived']).size().unstack()
survived_died_counts

Survived     0     1
Age
0          8.0   7.0
1          4.0   5.0
2         77.0  23.0
3         11.0   8.0
4          7.0  14.0
..         ...   ...
66         1.0   NaN
70         3.0   NaN
71         2.0   NaN
74         1.0   NaN
80         NaN   1.0

[71 rows x 2 columns]

In [ ]:
# Группировка выживших/не выживших по возрастам, с интервалом в 10 лет
survived_died_counts = df1.groupby(['Age Group', 'Survived']).size().unstack()
survived_died_counts['sum_people'] = survived_died_counts.sum(axis=1) # всего человек в интервалах в новой колонке sum_people
survived_died_counts

Survived     0   1  sum_people
Age Group
(0, 10]    133  73         206
(10, 20]    80  51         131
(20, 30]   147  87         234
(30, 40]    86  69         155
(40, 50]    53  33          86
(50, 60]    25  17          42
(60, 70]    14   4          18
(70, 80]     3   1           4
(80, 90]     0   0           0

*Вывод: больше всего выжило в процентном соотношении людей в возрасте 30-40 лет*

In [ ]:
# Выживаемость по Классу Круиза (Pclass)
survival_Pclass = df.groupby('Pclass')['Survived'].value_counts().unstack(fill_value=0)
survival_Pclass['sum_people'] = survival_Pclass.sum(axis=1)
survival_Pclass

Survived    0    1  sum_people
Pclass
1          80  136         216
2          97   87         184
3         372  119         491

*Вывод: больше всего выжило людей в 1 классе*

In [ ]:
# # Выживаемость по половому признаку (sex)
survival_by_sex = df.groupby('Sex')['Survived'].value_counts().unstack(fill_value=0)
survival_by_sex['total_people'] = survival_by_sex.sum(axis=1)
survival_by_sex

Survived    0    1  total_people
Sex
female     81  233           314
male      468  109           577

*Вывод: больше всего выжило женского пола*

In [ ]:
# # Выживаемость по числу братьев,сестер или супругов на борту у человека (SibSp)
survival_by_SibSP = df.groupby('SibSp')['Survived'].value_counts().unstack(fill_value=0)
survival_by_SibSP['sum_people'] = survival_by_SibSP.sum(axis=1)
survival_by_SibSP

Survived    0    1  sum_people
SibSp
0         398  210         608
1          97  112         209
2          15   13          28
3          12    4          16
4          15    3          18
5           5    0           5
8           7    0           7

*Вывод: чем меньше братьев тем больше шанс выжить*

In [ ]:
# Выживаемость по количеству родителей или детей, с которыми путешествовал каждый пассажир (Parch)
survival_by_Parch = df.groupby('Parch')['Survived'].value_counts().unstack(fill_value=0)
survival_by_Parch['Count_people'] = survival_by_Parch.sum(axis=1)
survival_by_Parch

Survived    0    1  Count_people
Parch
0         445  233           678
1          53   65           118
2          40   40            80
3           2    3             5
4           4    0             4
5           4    1             5
6           1    0             1

*Вывод: больше всего выжило людей кто был без родителей и детей*

In [ ]:
# Выживаемость по номеру билета (Ticket)
survival_by_Ticket = df.groupby('Ticket')['Survived'].value_counts().unstack(fill_value=0)
survival_by_Ticket['count_people_buy'] = survival_by_Ticket.sum(axis=1)
survival_by_Ticket

Survived     0  1  count_people_buy
Ticket
110152       0  3                 3
110413       1  2                 3
110465       2  0                 2
110564       0  1                 1
110813       0  1                 1
...         .. ..               ...
W./C. 6608   4  0                 4
W./C. 6609   1  0                 1
W.E.P. 5734  1  0                 1
W/C 14208    1  0                 1
WE/P 5735    1  1                 2

[681 rows x 3 columns]

In [ ]:
# Выживаемость по цене билета (Fare)
survival_by_Fare = df.groupby('Fare')['Survived'].value_counts().unstack(fill_value=0)
survival_by_Fare['Count_people_buy'] = survival_by_Fare.sum(axis=1)
survival_by_Fare

Survived   0  1  Count_people_buy
Fare
0.0000    14  1                15
4.0125     1  0                 1
5.0000     1  0                 1
6.2375     1  0                 1
6.4375     1  0                 1
...       .. ..               ...
227.5250   1  3                 4
247.5208   1  1                 2
262.3750   0  2                 2
263.0000   2  2                 4
512.3292   0  3                 3

[248 rows x 3 columns]

In [ ]:
# Выживаемость по номеру каюты (Cabin)
survival_by_Cabin = df.groupby('Cabin')['Survived'].value_counts().unstack(fill_value=0)
survival_by_Cabin['sum_people'] = survival_by_Cabin.sum(axis=1)
survival_by_Cabin

Survived   0  1  sum_people
Cabin
A10        2  0           2
A14        7  2           9
A16        1  1           2
A19        3  4           7
A20        5  5          10
...       .. ..         ...
F33       10  9          19
F38        2  1           3
F4         2  3           5
G6        17  7          24
T          1  0           1

[147 rows x 3 columns]

In [ ]:
# Выживаемость по порту посадки (Embarked)
survival_by_Embarked = df.groupby('Embarked')['Survived'].value_counts().unstack(fill_value=0)
survival_by_Embarked['sum_people'] = survival_by_Embarked.sum(axis=1)
survival_by_Embarked

Survived    0    1  sum_people
Embarked
C          75   94         169
Q          47   31          78
S         427  217         644

*Вывод: больше всего выжило людей кто был из порта С (в % соотношении)*